{% extends "base.html" %}

{% block content %}
<div class="_container">
    <section class="page__exersise exersise">
        <div class="exersise__body">
            <div class="drive_title">
                Доставка и оплата
            </div>
            <div class="dropdown-divider"></div>
            <div class="exersise__body_drive">
                <div class="nav_min">
                    <div class="drive_block">
                        <div class="drive_title">Воронеж и ВО</div>
                        <div>Доставка по Воронежу и Воронежской области бесплатно.</div>
                    </div>
                    <div class="drive_block">
                        <div class="drive_title">Россия</div>
                        <div>Доставка в любой регион страны от 500 ₽</div>
                    </div>
                    <div class="drive_block">
                        <div class="drive_title">Оплата</div>
                        <div>Оплачивайте прямо на сайте или при получении товара.</div>
                    </div>
                </div>
                <div class="info_drive">
                    <div class="blok_info_drive">
                        <div class="drive_title_info">Доставка и оплата</div>
                        <div>Связывайтесь с нашими продовцами с 8:00 до 20:00</div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="drive_block_info">
                        <div class="drive_title">Возможна ли доставка в выходной?</div>
                        <div>Наши продавцы имеют разные графики работы. Для получения точной
                            информации свяжитесь с оператором и уточните подходящее время</div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="drive_block_info">
                        <div class="drive_title">Что с первым заказом?</div>
                        <div>При первом заказе доставка БЕСПЛАТНО</div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="drive_block_info">
                        <div class="drive_title">Возврат</div>
                        <div>Возврат товара происходит напрямую с продавцом. Во избежании
                        неприятных ситуации обговорите этот пункт заранее.</div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="drive_block_info">
                        <div class="drive_title">Не нашли ответ на вопрос?</div>
                        <div>Служба поддержки всегда онлайн и рада ответить на все интересующие вас вопросы.</div>
                    </div>
                    <div class="dropdown-divider"></div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

<!--.exersise__body_pr{
 display: flex;
}

.info_about_product{
max-width: 50%;
min-width: 50%;
}
.pouyt{
margin-bottom: 20px;
max-width: 100%}

.choose_param_product{
margin-left: 10%;
max-width: 40%;
}-->