{% extends "base.html" %}

{% block content %}
<main class="page">
    <div class="page__main-block main-block">
        <div class="main-block__container _container">
            <div class="main-block_body">
                <h1 class="main-block__title">Первым покупателям доставка в подарок!</h1>
                <div class="main-block__text">OZERO - найдётся всё</div>
                <div class="main-block_buttons">
                    <a href="/" class="main-block_button_one">Подробнее</a>
                    <a href="/" class="main-block_button_two">Каталог</a>
                </div>
                <div class="main-block__image__delivery">
                    <img class="delivery__move" src="/static/img/delivery2.png" alt="bg">
                    <img class="delivery__move" src="/static/img/delivery1.png" alt="bg">
                </div>
            </div>
            <div class="main-block__image">
                <img class="img__im" src="/static/img/bg_grad.jpg" alt="bg">
            </div>
        </div>
    </div>
    <section class="page__exersise exersise">
        <div class="exersise__container _container">
            <div class="exersise__header header-block">
                <h2 class="header-block__title">Вам может понравиться</h2>
                <div class="header-block__sub-title">То, что не оставит вас равнодушным</div>
            </div>
            <div class="exersise__body">
                <div class="exersise__column">
                    {% for item in products%}
                    <div class="exersise__item">
                        <div class="exersise__picture">
                             <a href="/product_info/{{ item.id }}"><img src="/static/img/{{ item.url_img }}" width="300px" height="300px" alt=""></a>
                        </div>
                        <div class="exersise__price">{{ item.title }}</div>
                        <div class="exersise__name">{{ item.price }} ₽</div>
                        <div class="exersise__address">{{ item.user.address }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section class="page__corusel corusel">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/"><img class="images" src="/static/img/g1.jpg" alt="First slide"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="carousel-text">Для любителей езды</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="/"><img class="images" src="/static/img/g2.jpg" alt="Second slide"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="carousel-text">В вечном поиске</h5>
                    </div>
                </div>
                <div class="carousel-item">
                   <a href="/"><img class="images" src="/static/img/g3.jpg" alt="Third slide"></a>
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="carousel-text">Порадовать себя</h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>
    <section class="page__about">
        <div class="_container">
            <h1 class="about__text">
                Лучшее место для обмена товарами
            </h1>
        </div>
        <div class="about__container _container">
            <div class="column_info">
                <div class="box_about">
                    <h3 class="item-about__title">Проверенные продавцы</h3>
                    <div class="item-about__text">Все наши продавцы сертифицированны</div>
                </div>
                <div class="box_about">
                    <h3 class="item-about__title">Всевозможный выбор</h3>
                    <div class="item-about__text">Здесь вы найдёте всё, что пожелаете. И даже больше:)</div>
                </div>
                <div class="box_about">
                    <h3 class="item-about__title">Доставка по всей Росии</h3>
                    <div class="item-about__text">Доставим в любую точку страны за кротчайший срок</div>
                </div>
                <div class="box_about">
                    <h3 class="item-about__title">Обратная связь</h3>
                    <div class="item-about__text">Мы с вами 24/7 и всегда откликнимся и поможем</div>
                </div>
            </div>
            <div class="column_info">
                <div>
                    <img class="about-img" src="/static/img/drive.png" alt="">
                </div>
            </div>
        </div>
        </div>
    </section>
    <section class="page__exersise exersise">
        <div class="exersise__container _container">
            <div class="exersise__header header-block">
                <h2 class="header-block__title">Добавлено недавно</h2>
                <div class="header-block__sub-title">Успей купить, пока не разобрали!</div>
            </div>
            <div class="exersise__body">
                <div class="exersise__column">
                    {% for item in new%}
                    <div class="exersise__item">
                        <div class="exersise__picture">
                             <a href="/product_info/{{ item.id }}"><img src="/static/img/{{ item.url_img }}" width="300px" height="300px" alt=""></a>
                        </div>
                        <div class="exersise__price">{{ item.title }}</div>
                        <div class="exersise__name">{{ item.price }} ₽</div>
                        <div class="exersise__address">{{ item.user.address }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}