{% extends "base.html" %}
{% block content %}
<main class="page">
    <section class="page__exersise exersise">
        <div class="exersise__container _container">
            <div class="exersise__header header-block">
                <h2 class="header-block__title">Объявления пользователя</h2>
                <div class="dropdown-divider"></div>
                <div class="exersise__body">
                    <div class="exersise__column">
                        {% for item in products%}
                        <div class="exersise__item">
                            <div class="exersise__picture">
                                <a href="/product_info/{{ item.id }}"><img src="/static/img/{{ item.url_img }}"
                                                                           width="300px" height="300px" alt=""></a>
                            </div>
                            <div class="exersise__price">{{ item.title }}
                            </div>
                            <div class="exersise__name">{{ item.price }} ₽</div>
                            <div class="exersise__address">{{ item.user.address }}</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
